Intermediate/*
Saved/*
DerivedDataCache/*
Binaries/*
.vs/
*.sln
.idea/*
Platforms/*
.vsconfig
Build/
Content/StarterContent/*
Content/MetaHumans/*
Content/FirstPerson/*
Content/__ExternalActors__/*
Content/__ExternalObjects__/*
Content/FirstPersonArms/* 
Content/LevelPrototyping/*
Content/Megascans/*
Content/MSPresets/*